{% extends 'base.html' %}
{% block header %}
    <title> Products </title>
{% endblock %}
{% block body%}
    <table>
    <tr>
        <th>اسم</th>
        <th>توضیحات</th>
        <th>قیمت</th>
        <th>فعال</th>
        <th>ویرایش</th>
    </tr>
    {% for p in products %}
        <tr>
            <td>{{ p.name }} </td>
            <td>{{ p.discriptin }} </td>
            <td>{{ p.price }} </td>
            <td>{{ "yes" if p.active == 1 else "no" }} </td>
            <td><a href="/admin/dashboard/edit-product/{{p.id}}">ویرایش</a></td>
        </tr>
    {% endfor %}
    </table>
    
<form action="#" method="post">
    <input type="text" name="name" placeholder="نام محصول" /><br>
    <input type="number" name="price" placeholder="قیمت محصول" /><br>
    <textarea name="discriptin" placeholder="توضیحات"></textarea><br>
    <label>فعال:</label><input type="checkbox" value="1" name="active"/><br>
    <input type="submit" />

</form>

{% endblock %}